$num-dishs: 4;
$anim-dur: 750ms;
$anim-delay: calc($anim-dur / $num-dishs);


.jumbotron{
    height: 70px;
    border-radius: 20px;
    box-shadow: $shadow;
    line-height: 1.4;  
    display: flex;
}
.jumbotron-working{
    @extend .jumbotron;    
    background: $background-grey-light;    
    &__body{
        display: flex;
        flex-direction: row;
        align-items: center;
    }    
    &__bullete{
        color: color(light);
        background: color(primary);
        border-radius: 50%;
        height: 5px;
        width: 5px;
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -10px;
    }
    i{
        color:$working-icon;
        font-size: 22px; 
        margin: 0 30px;        
    }    
    &:hover, :active{
        transform: scale(1.01);
        background: $working-store;
        .fa-solid{        
            color:color(primary);        
        }
    }
    @include break-to(medium){
        &__body{
            padding-right: 30px;
        }
        
    }
}

.jumbotron-menu{
    @extend .jumbotron;
    cursor: pointer;
    opacity: 0;
    transform: scale(0);
    overflow: hidden; 
    animation: jumbotron-menu-display $anim-dur ease-in-out both;
    @for $i from 1 through $num-dishs {
        &--dish#{$i}{
            animation-delay: ($anim-delay * $i)+750;
     
        }
    }       
    &__body{
        display: flex;
        flex: 1;
        justify-content: space-between; 
        padding: 15px 10px;
        overflow: hidden;
        //transition: all 600ms;        
    }   
    &__title{
        font-weight: 700;
    }
    &__text{            
        display: flex;        
        flex-direction: column;  
        overflow: hidden;
        white-space: nowrap;
        justify-content: space-between;  
    }
    &__price{
        display: flex;
        align-items: flex-end;        
        font-weight: 700;
    }
    i{
        color: color(light);
        font-size: 25px;
        transition: all 600ms;
    };
    &__selected{        
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: color(tertiary);
        height: 100%;
        width: 0;
        opacity: 0;
        border-radius: 0 20px 20px 0;
        transition: all 600ms;        
    }
    &:hover, :active{
        & > .jumbotron-menu__selected{                
        width: 25%;
        opacity: 1;
        margin: 0;
        @include break-to(large){
            width: 15%;
        }        
    }            
        & i {
            transform: rotate(360deg);            
        }        
    }
    @include break-to(large){
        max-width: 600px;
    }     
}
/**
 * Helper class pour tronquer et ajouter une ellipse à une chaîne
 * de caractères trop longue pour tenir sur une ligne
 * 1. Empêche le retour automatique à la ligne,
 * force l’affichage sur une seule ligne.
 * 2. Ajoute une ellipse à la fin de la ligne si dépassement.
 */
 .ellipsis {
    white-space: nowrap; /* 1 */
    text-overflow: ellipsis; /* 2 */
    overflow: hidden;
  }

@keyframes jumbotron-menu-display{
    0% {        
        transform:translateY(100%);        
    }
    70%{
        opacity: 0;
        transform:translateY(30%) scale(1); 
    }          
    100% {
        opacity: 1;
        transform:translateY(0) ;
    }    
}