.menu{
    position: relative;
    top:-90px;
    border-radius: 20px 20px 0 0;
    background-color: $background-grey-light;
    margin: 0;

    section{
        display: flex;
        flex-direction: column;
        gap:15px;
    }

    &__container{
        margin: 0 10px;
        padding: 10px 0;
    }
    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: $font-title;
        margin-right: 20px;
        h2{
            font-weight: 300;
        }
    }
    h3{
        font-family: $font-text;
        text-transform: uppercase;
        font-weight: 300;
    }
}
.dish{
    animation: dish-display 1000ms 500ms both;
    &__title{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            left    : 0;
            top  : 25px;
            height  : 1px;
            width   : 40px;
            border-bottom:5px solid color(tertiary);
        }
    }
}
.menu-like{
    @include like(30,30,30);
}

@keyframes dish-display{
    0% {
        opacity: 0;
    }    
    100% {
        opacity: 1;
    }
    
}