.restaurants__container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include break-to(small){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}