@import "libs/normalize.scss";
@import "libs/function.scss";
@import "libs/mixin.scss";


$colors:(
    primary:hsl(267, 66%, 60%), 
    secondary:hsl(317, 100%, 74%), 
    tertiary:hsl(165, 56%, 74%),
    dark:hsl(0, 0%, 0%),
    light:hsl(0, 0%, 100%),    
    green:hsl(166, 100%, 14%)    
);

$background-location: tint(color(dark),91.6);
$background-grey-light: tint(color(dark),96.5);
$working-icon: tint(color(dark),49.5);
$background-footer: tint(color(dark),20.8);
$working-store: tint(color(primary),85);
$background-button: linear-gradient(color(secondary), color(primary)); 

$font-title:('Shrikhand', cursive);
$font-text: ('Roboto', sans-serif);

$shadow:rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
