.working{
    i{
        color:$color-icon-grey;
        font-size: 22px; 
        margin: 0 30px;
        &.store{
            color:$color-primary
        } 
    }
    &__container{
        display: flex;
        flex-direction: column;
        gap:20px
    }
    &__bullete{
        color: white;
        background: $color-primary;
        border-radius: 50%;
        height: 5px;
        width: 5px;
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -10px;
    }
     
}